.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #E8F0FE; /* Updated background color */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #2CB1BC;
}

.App-link {
  color: #E8F0FE;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@import url('http://fonts.cdnfonts.com/css/century-gothic');

.answerFAQ {
  color: #102A43;
}

.FAQmodal-parent {
  position: relative;
  background-color: white(255,255,255);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25em;
  flex-direction: column;
  background-color: #E8F0FE;
  flex: 1;
  inset: 0;
  overflow-y: scroll;
}

.FAQheading-of-modal {
  padding: 6px 12px;
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 80vw;
  font-size: 2.9rem;
  background-color: #2CB1BC;
  color: white;
  font-family: RoashePersonalUse-jEa4M;
  
}

.FAQmodal-heading-p {
  margin: 0.3em;
  padding: 0em;
  color: #102A43;
  font-family: 'Roboto Condensed', Sans-Serif;
  font-size: 40px; 
  font-weight: bold;
  
}

.FAQmodal-content {
  height: fit-content;
  width: 80vw;
  display: flex;
  flex-direction: column;
}

.FAQfade_rule-modal {
  height: 1px;
  background-color: #ffffffba;
  width: 67vw;
  margin: 0 auto;
  background-image: linear-gradient(to right, #131009 2%, #E8F0FE 50%, #131009 98%);
  background-image: -o-linear-gradient(right, #131009 2%, #E8F0FE 50%, #131009 98%);
  background-image: -moz-linear-gradient(right, #131009 2%, #E8F0FE 50%, #131009 98%);
  background-image: -webkit-linear-gradient(right, #131009 2%, #E8F0FE 50%, #131009 98%);
  background-image: -ms-linear-gradient(right, #131009 2%, #E8F0FE 50%, #131009 98%);
  background-image: -webkit-gradient(linear, left bottom, right bottom, color-stop(0.02, #131009), color-stop(0.5, #46401eba), color-stop(0.98, #131009));
}

.FAQmodal-external-content {
  padding: 2em;
  padding-top: 0.5em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: black;
  align-items: center;
  text-align: center;
}
.questionFAQ{
  font-weight: bold;
  font-size: 20px; 
  font-family: 'Cabin', Sans-Serif;
}
.answerFAQ a {
  color: blue; /* Change 'blue' to the color you prefer */
}

h1 {
  padding: 0;
  margin: 0;
}